* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* -------- Navbar -------- */
nav {
	display: flex;
	position: relative;
	z-index: 1;
	height: 80px;
	width: 100%;
	background-image: linear-gradient(to right, #267873, #14698C);
	align-items: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#navbar-content {
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
	width: calc(100% - 80px);
}

/* -------- Navbar Menu -------- */
#menu {
	margin-left: auto;
}

.menu-item {
	font-size: 16px;
	outline: none;
	text-decoration: none;
	color: white;
	width: 100px;
	-moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-item:hover {
	opacity: 0.7;
}

/* -------- Map -------- */
#mapid {
	position: relative;
	height: calc(100% - 80px);
	width: 100%;
	z-index: 0;
}

.marker-icon-red {
	text-align:center;
	color:White;
	background-image: url('../img/red_circle.svg');
}

.marker-icon-green {
	text-align:center;
	color:White;
	background-image: url('../img/green_circle.svg');
}

/* -------- Search Bar -------- */
#search {
	position: fixed;
	z-index: 1;
	left: 10%;
	top: 30%;
	border-radius: 4px;
}

#search-bar {
	border: none;
	outline: none;
	width: 280px;
	height: 60px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	-moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}

#search-bar:hover {
	
}

#search-bar:focus {

}

#address-list {
	display: none;
	top: -1px;
	position: relative;
	width: 282px;
	height: 200px;
	background-color: white;
	z-index: 2;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#address-list-inner {
	border-top: 1px dashed #BEBEBE;
	height: 100%;
	width: 100%;
}

.address {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	border-bottom: 1px solid #f9f9f9;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	-moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.address:hover {
	cursor: default;
	background-color: #f9f9f9;
}

#search-bar-button {
	margin-left: -4px;
	color: white;
	width: 60px;
	height: 62px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	font-size: 16px;
	background-color: #267873;
	outline: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	-moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#search-bar-button:hover {
	background-color: #14698C;
}

::placeholder {
	color: #BEBEBE;
}

/* -------- Search Bar -------- */
#parking-table {
	width: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	background-color: white;
	border-radius: 4px;
	z-index: 1;
	right: 10%;
	top: 21%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  	flex-direction: column;

  	-moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#parking-table table {
	margin-top: 15px;
	margin-bottom: 15px;
}

#parking-table tr td {
	padding-left: 15px;
	padding-right: 15px;
}

.empty-spot {
	background-color: #71D87D;
	width: 49px;
	height: 19px;
	border-radius: 4px;
}

.occupied-spot {
	background-color: #D87171;
	width: 49px;
	height: 19px;
	border-radius: 4px;
}

#parking-table span {
	font-size: 18px;
}

#hide-parking-table {
	color: white;
	background-color: #267873;
	font-size: 18px;
	width: 40px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 4px;
	-moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#hide-parking-table:hover {
	background-color: #14698C;
}

/* Media Quieries */
@media screen and (max-width: 800px) {
	#search {
		position: static;
		top: 0;
		left: 0;
	}

	#search-bar {
		width: 100%;
	}

	#search-bar-button {
		display: none;
	}

	#address-list {
		width: 100%;
	}

	#parking-table {
		position: static;
		width: 100%;
	}
}
